* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //1rem = 10px
}

body {
  font-family: monospace;
  background-color: $color-grey-lighter;
  box-sizing: border-box;
}
