.underline {
  border-bottom: 2px solid $color-font-primary;
}

.u-marg-b-heading {
  margin-bottom: 3rem;
}

.my-body-noscroll-class {
  overflow: hidden;
}

.hidden {
  display: none;
}

.blur-back {
  backdrop-filter: blur(20px);
}

.empty-icon {
  fill: $color-transparent-grey;
}

.filled-icon {
  fill: $color-salmon-primary;
}

.scale-filters {
  transform: scale(0);
}
