.btn {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-size: $font-size-primary;
  color: $color-font-primary;
  background-color: $color-grey-light2;
  text-transform: uppercase;
  padding: 1.5rem 1.5rem;
  border: none;
  font-weight: bold;
  outline: none;
  cursor: pointer;

  &:hover {
    background-color: $color-salmon-primary;
  }
}
