.spinner {
  display: flex;
  height: 100vh;
  padding: 12rem;
  justify-items: center;
  align-content: center;
  margin: 0 auto;
  &__icon {
    height: 6rem;
    width: 6rem;
    fill: $color-salmon-primary;
    animation: spin 2s infinite linear;
  }
}
