.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid $color-salmon-primary;

  &__logo {
    width: 15rem;
    height: 15rem;
    margin-left: 2rem;
  }
  &__img {
    height: 100%;
    width: 100%;
  }
  // & > * {
  //   flex-grow: 1;
  //   margin: 1rem;
  // }
  &__search {
    transition: all 0.3s;
    flex: 0 0 30%;
    &--input {
      border: 2px solid transparent;
      border-radius: 5rem;
      background-color: white;
      padding: 0.7rem 2rem;
      outline: none;
      font-family: inherit;
      font-size: $font-size-primary;
      width: 95%;
      //margin-right: -10rem;
      transition: all 0.2s;

      &:focus {
        width: 100%;
        color: $color-font-primary;
        border: 2px solid $color-salmon-primary;
        box-shadow: 0 1rem 2rem rgba(black, 0.1);
      }

      &::-webkit-input-placeholder {
        font-size: 1.2rem;
        text-transform: uppercase;
        color: $color-font-lighter;
      }
    }
    &--btn {
      font-family: inherit;
      font-weight: bold;
      color: $color-font-primary;
      text-transform: uppercase;
      padding: 0.5rem 0.5rem;
      background-color: white;
      border: none;
      outline: none;
      cursor: pointer;
      margin-left: -17rem;
    }
    &--icon {
      height: 1.8rem;
      width: 1.8rem;
    }
  }
}
