.menu-view {
  &__list {
    width: 50%;
    height: 100rem;
    &--items {
      display: flex;
      justify-content: center;
      align-items: center;

      li {
        padding: 4rem 3rem;
      }
    }
  }
}
