.results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: $margin-big 0;

  &__container {
    margin-top: $margin-medium;
    width: 90%;
  }
}
